* {
  border-radius: 5px;
  border: none;
}

#entry {
  padding: 0.4em;
}

#entry:selected {
  color: #ffffff;
  background-color: #332b45;
}

window {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-family: "Hasklug Nerd Font";
  font-size: 8.5pt;
  border: none;
}

#outer-box {
  background-color: rgba(0, 0, 0, 0);
}

#input {
  background-color: rgba(15, 10, 25, 0.9);
  color: #999999;
  margin-bottom: 10px;
}

#scroll {
  background-color: rgba(15, 10, 25, 0.9);
  padding: 3px;
}

#img {
  margin-right: 3px;
}
