/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0E1319A0;
    background-alt: #0E1319A0;
    foreground:     #FFFFFFFF;
    selected:       #00a2ffA0;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
