/*================ GLOBAL COLORS ================*/
:root {
    --accent-color: 0, 0, 0, 0;
    --light-color: 255, 255, 255;
}

/*================ LIGHT THEME ================*/
:root {
    --main-bgcolor: var(--light-color);
    --transparent-bgcolor: var(--light-color);
}

/*================== NAV BAR ==================*/
toolbar#nav-bar {
    background: rgba(var(--accent-color), 1) !important;
    box-shadow: none !important;
}

toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
    transition: all 0.3s ease !important;
    fill: rgba(var(--main-bgcolor), 1) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
    background-color: transparent !important;
}

/*================== BOOKMARKS TOOLBAR ==================*/
#PersonalToolbar {
    background-color: transparent !important;
    color: rgba(var(--main-bgcolor), 1) !important;
}

/* ------------------------------------------------------- */

:root {
    --toolbar-field-focus-border-color: transparent !important; /*remove default focus ring of url bar */
    --organizer-outline-color: transparent !important; /*remove default focus ring of search box in library window */
    --in-content-page-background: #101010 !important;
}

#urlbar:not([focused="true"]) {
    background-image: linear-gradient(
        to right,
        rgb(255, 81, 65) 0%,
        rgb(255, 205, 0) 50%,
        rgb(47, 255, 75) 100%
    ) !important;
    background-size: auto 4px !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
}

#urlbar[focused="true"] {
    background-image: linear-gradient(
        to right,
        rgb(255, 81, 65) 0%,
        rgb(255, 205, 0) 50%,
        rgb(47, 255, 75) 100%
    ) !important;
}

#urlbar[open="true"] {
    background-image: linear-gradient(
        to right,
        rgb(255, 81, 65) 0%,
        rgb(255, 205, 0) 50%,
        rgb(47, 255, 75) 100%
    ) !important;
}

/* ------------------------------------------------------- */

#main-window {
    background: transparent !important;
}

#TabsToolbar,
.table-widget-empty-text {
    -moz-appearance: -moz-mac-source-list !important;
}

#TabsToolbar:-moz-lwtheme-brighttext,
.table-widget-empty-text:-moz-lwtheme-brighttext {
    -moz-appearance: -moz-mac-source-list !important;
}

#navigator-toolbox {
    background-color: rgba(20, 20, 20, 0.6) !important;
}

/* menubar + bookmarks */

:root {
    --tab-min-height: 0 !important;
    --tab-max-height: 0 !important;
}

:root #nav-bar,
#titlebar {
    -moz-appearance: -moz-mac-source-list !important;
    -moz-font-smoothing-background-color: -moz-mac-source-list !important;
}

#TabsToolbar,
#nav-bar {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
}

/* simplify tabs */

.titlebar-spacer[type="pre-tabs"] {
    display: none;
}

.tabbrowser-tab {
    margin-left: 3px !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
    border-radius: 100px !important;
}

.bookmark-item:hover {
    background-color: transparent !important;
}

.bookmark-item > .toolbarbutton-icon {
    display: flex !important;
    justify-content: center !important;

    border-radius: 100% !important;
    height: 15px !important;
    width: 15px !important;
    color: #f9f9fb !important;
}

.bookmark-item:hover > .toolbarbutton-icon {
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 1px;
}

#tabs-newtab-button .toolbarbutton-icon {
    border-radius: 30px !important;

    transition-property: background-color;
}

.tab-close-button {
    height: 15px !important;
    width: 15px !important;
    padding: 1px !important;
    margin-left: 5px;
}

.tab-throbber-tabslist,
.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
    height: 14px !important;
    width: 14px !important;
}
