@import "colors.css";

* {
  border: 0;
  padding: 0;
  font-family: "Hasklig Nerd Font";
  font-weight: bold;
  letter-spacing: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#mode {
  color: #ebcb8b;
}

#workspaces button {
  color: @base;
  border-radius: 50%;
}

#workspaces * {
  color: whitesmoke;
}

#workspaces button.focused * {
  color: @mauve;
}

#mode,
#workspaces,
#backlight,
#custom-recorder,
#tray,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#custom-power,
#disk,
#battery,
#custom-pacman {
  font-size: 13px;
  margin-top: 1px;
  padding: 0 5px;
  font-weight: bold;
  border-style: solid;
  border-radius: 15px;
  background-color: shade(@base, 1);
}

#custom-power,
#custom-recorder {
  font-size: 15px;
}

#window {
  color: @base;
  background-color: #fff;
}

window#waybar.empty #window {
  background-color: transparent;
}

#backlight {
  color: @yellow;
}

#network {
  color: @green;
  padding: 0 6px;
}

#network.disabled {
  color: #bf616a;
}

#network.disconnected {
  color: #bf616a;
}

#custom-power {
  color: @red;
  background-color: shade(@base, 1);
  padding: 0 10px 0 7px;
}

#clock {
  color: @sky;
  padding: 0 7px;
}

#cpu {
  padding: 0 4px 0 0;
}

#custom-recorder {
  color: @red;
}

#tray {
  color: #ffffff;
  padding: 0 4.8px 0;
}

#battery {
  color: @green;
}

#battery.charging {
  color: #81a1c1;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sky;
}

#cpu #cpu-icon {
  color: @sky;
}

#memory {
  color: @sky;
}

#disk {
  color: @sky;
}

#pulseaudio {
  color: @flamingo;
}

#pulseaudio.muted {
  color: #3b4252;
}
