* {
  font-family: "Hasklug Nerd Font Propo";
  font-size: 13.5px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin: 0 2;
  padding-left: 8;
  padding-right: 8;
  background-color: rgba(0, 0, 0, 0.01);
  font-weight: bold;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  border-bottom: 2px solid #17d8ff;
}

#workspaces button {
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.01);
}

#workspaces button:hover {
  border-top: 2px solid white;
}

#workspaces button.focused {
  color: #17d8ff;
  border-bottom: 2px solid #17d8ff;
}

#workspaces button.active {
  color: #17d8ff;
  border-bottom: 2px solid #17d8ff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#submap {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#submap,
#custom-cava,
#mpris,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#scratchpad,
#custom-wallpapers,
#mpd {
  margin: 0 1px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0, 0, 0, 0.01);
  color: #ffffff;
}

#clock {
  font-weight: bold;
}

window#waybar.empty #window {
  background-color: transparent;
}

#backlight {
  color: @yellow;
}

#network {
  color: @green;
  padding: 0 6px;
}

#network.disabled {
  color: #bf616a;
}

#network.disconnected {
  color: #bf616a;
}

#custom-power {
  color: @red;
  background-color: shade(@base, 1);
  padding: 0 10px 0 7px;
}

#clock {
  color: @sky;
  padding: 0 7px;
}

#cpu {
  padding: 0 4px 0 0;
}

#custom-recorder {
  color: @red;
}

#tray {
  color: #ffffff;
  padding: 0 4.8px 0;
}

#clock,
#battery {
  padding: 0 10px;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#scratchpad,
#mpd {
  margin: 0 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery icon {
  color: red;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
